h1{
    color: #e63946;
    text-align: center;
}
.contenedor{
    color: #457b9a;
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc; 
    padding: 15px;
    text-align: center;
}
img{
    opacity:0.5;
}
img:hover{
    opacity: 1.0;
}